{% extends 'base2.html.twig' %}
{% block style %}
    <style>
        ul {display: none;}
    </style>
{% endblock style %}
{% block title %}Admin categories!{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="card shadow mb-4" style="padding:2%; ">
<div class="card-header py-3">
{% for message in app.flashes('success') %}
<p class="alert alert-success">{{message}}</p>
{% endfor %}
<h2>Listes de vos categories  <a class="btn btn-primary" href="{{path('app_form_categories')}}">+Ajouter un categorie?</a></h2>
</div>
<table class="table table-responsive table-striped" cellpadding="2%" cellspacing="5%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>description</th>
            <th>image</th>
            <th>actions</th>

        </tr>
    </thead>
    <tbody>
        {% for categorie in categories %} 
        <tr>
            <td>{{categorie.nom}}</td>
            <td >{{categorie.description|split("")|slice(0,15)|join("")}}</td>
            {% if categorie.image is defined %}
            <td><img src="{{asset('image/categories/'~ categorie.image)}}" style="width:100px;height:60px;padding-left:2px;padding-right:2px"></td>
            {% else %}
            <td><img src="{{asset('img/5.jpg')}}" style="width:100px;height:60px;padding-left:2px;padding-right:2px"></td>
            {% endif %}
            <td><a  class="btn btn-success"  href="{{path('app_recup_categories',{'id':categorie.id})}}">modifier</a><SPan>       </SPan><a onclick="return confirm('Voulez-vous vraiment supprimer?')"; class="btn btn-danger" href="{{path('app_delete_categorie',{'id':categorie.id})}}">supprimer</a><SPan></SPan></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
