{% extends 'base2.html.twig' %}
{% block body %}
        <div class="card o-hidden border-0 shadow-lg my-5" style="margin: 2%">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"><img class="position-absolute w-100 h-100" src="{{asset('img/5.jpg')}}" style="object-fit: cover;"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                        {% for message in app.flashes('success') %}
                            <p class="alert alert-success">{{message}}</p>
                        {% endfor %}
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ajouter un Service! <a class="btn btn-primary" href="{{path('app_adminservices')}}">Terminer?</a></h1>
                            </div>
                            <form action="{{path('app_add_services')}}" method="post" enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="exampleInputText"
                                        placeholder="Nom service" name="nom">
                                </div>
                               
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-lg" id="exampleInputNumber"
                                        placeholder="prix en euro" name="prix">
                                </div>
                               
                                <div class="form-group">
                                    <label class="formGroupExampleInput2">Categorie </label>
                                    <select name="category" class="form-control">
                                    {% for categorie in categories %}
                                    <option name="category"value="{{categorie.id}}">
                                      {{categorie.nom}}</option>
                                    {% endfor %}
                                    </select>
                                </div>

                                <button type="" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Enregistrer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}